
body{font-size:14px; overflow: hidden;} 
.frame-wrap{width:1600px; height:900px; overflow: hidden; background-color:#e1dfdb; border:5px solid #e1dfdb; border-bottom:5px solid #e1dfdb; border-top:0;  position:relative; margin:0 auto;}
.frame-bar{width:100%; height:29px; display: flex; justify-content: space-between;}
.frame-bar > *{flex:0;}
.frame-bar .logo{max-width:126px}
.frame-bar .logo img{margin-top:5px}
.frame-bar .link{flex:1; padding-top:4px; text-align: center;}
.frame-bar .link .ui-select{width:140px}
.frame-bar .link .ui-select-btn{height:22px; font-size:12px; line-height:22px;}
.frame-bar .link .inp-base{width:400px; height:22px; font-size:12px; line-height:22px;} 
.frame-bar .btn-base{height:22px; font-size:12px; line-height:22px;     min-height: 22px; background:#959390; color:#fff; border-radius: 0;}
.frame-bar .ui-select-btn span{margin-top:0}
.frame-bar .util{min-width:60px}
/* .frame-bar .logo{margin-top:7px} */
.frame-inner{border:1px solid #dbd9d5; width:100%; height:867px; background-color:#f9f9f9; }
.frame-right{position: absolute;; right:0; top:30px; width:92px; height:100%; background-color:#fff; text-align:center; padding:26px 10px; box-shadow:0 0 10px rgba(0,0,0,0.1); z-index: 2;}
.frame-right nav button{display:inline-block; width:100%; margin-top:40px; color:#999; letter-spacing: -0.075em;}


.frame-left{position: relative; float:left; left:0; top:0; display:flex; flex-direction:column; justify-content:space-between; width:320px; height:100%; background-color:#fff; height:100%; padding:20px; z-index: 2;}

.frame-center{width:calc(100% - 412px); min-height:870px; max-height:870px; overflow-y:auto; position: relative; z-index:0; float:left;}

.grid-wrap{padding-bottom:100px}
.grid-wrap[data-size="wide"] {width:1630px; max-width:none;}
.item-area{position:relative; width:100%;}
.item-title{width:100%}
.item-title .ui-tab-btn,
.item-title h3{font-size:15px; padding:5px 10px; color:#000; font-weight:500; letter-spacing:-0.075em; border-bottom:2px solid #f49c00; display:inline-block; min-width:100px;}
.item-title h4{font-size:14px; color:#444; font-weight:700;}
.item-content{display:block; width:100%; background-color:#fff; border:1px solid #f4f4f4; padding:30px; margin-top:-1px;}
.item-content.type-small{padding:10px 30px;}
.item-content .grid-row:first-child {margin-top:0;}
.item-content .grid-row{margin-left:-10px; margin-right:-10px; width:auto; max-width:none;}

.item-area.type-flat + .item-area.type-flat{margin-top:20px;}
.item-area.type-flat .item-title {padding-bottom:5px;}
.item-area.type-flat .item-title .ui-tab-btn {border-bottom:0;}
.item-area.type-flat .item-content {border-top:1px solid #666; border-bottom:1px solid #eee; border-left:0; border-right:0; padding:0;}
.item-area.type-flat .field-area {padding:10px 0;}
.item-area.type-flat .tbl-base:first-child {border:0;}

/* tab */
.item-title.ui-tab-btns:after{display: none;}
.item-title .ui-tab-btn{border:0; background:none; min-height:0; border-bottom:2px solid #ccc; text-align:left;}
.ui-tab-pnl{border:0; padding:0}
.item-title .ui-tab-btn:nth-child(1){border-bottom:2px solid #444;}
.item-title .ui-tab-btn:nth-child(2){border-bottom:2px solid #666;}
.item-title .ui-tab-btn:nth-child(3){border-bottom:2px solid #aaa;}
.item-title .ui-tab-btn:nth-child(4){border-bottom:2px solid #ddd;}
.item-title .ui-tab-btn.selected{border-bottom:2px solid #f49c00;}

.field-area{width:100%; display:block;}
.field-row{display:flex; }

.field-col{display:flex; flex:0 auto;}
.field-item{width:100%; display: inline-block; font-size:0; margin-top:5px}
.field-item:first-child{margin-top:0;}

.field-item-title{display: inline-block; width:70px; font-size:13px; vertical-align: middle;}
.field-item-content{display: inline-block; font-size:13px; width:calc(100% - 70px);}
.field-item-content .ui-select {display:block;}

.field-item .lb-check,
.field-item .lb-radio{min-height:30px;}
.field-item .ui-datepicker{width:100%;}

.form-validate {display:flex; align-items:center;}
.form-validate .inp-base{flex:1 1 100%;}
.form-validate .utils{flex:0 0 auto; margin-left:10px;}
.form-validate .utils .btn-search-s { margin-left:-10px; }

/* group */
.group-area {display:flex; align-items:stretch;}
.group-area .group-item {padding-left:30px;}
.group-area .group-item:first-child {padding-left:0;}
.group-item.type-small{flex:1 1 30%;}
.group-item.type-large{flex:1 1 70%;}
.group-item {font-size:0;}
.group-title {display:inline-block; height:100%; min-height:105px; width:30px; margin-right:20px; text-align:center; background:#ececec; font-size:0;}
button.group-title:hover {background:#ddd;}
.group-title:after {display:inline-block; vertical-align:middle; width:1px; height:100%; content:"";}
.group-title > strong {display:inline-block; vertical-align:middle; width:calc(100% - 1px); padding:5px; line-height:1.8em; font-size:14px; font-weight:700; color:#444;}
.group-content {display:flex; flex-direction:column; justify-content:center; width:100%; height:100%; vertical-align:middle;}
.group-area .group-content {display:inline-flex; width:calc(100% - 50px);}
.group-content.dir-row {flex-direction:row;}
.group-content .item-area {display:flex; flex:1 1 calc(100% / 3); flex-direction:column; justify-content:space-between; padding-left:20px;}
.group-content .item-area.type-flat + .item-area.type-flat {margin:0;}
.group-content .item-area:first-child {padding-left:0;}
.group-content .item-area .item-title {flex:0 0 auto;}
.group-content .item-area .item-content {flex:1 1 auto;}

/* icon */
.ico-search {display:inline-block; width:16px; height:15px; background:url('../img/ico_search.png') 0 0/auto auto no-repeat; vertical-align:middle; color:transparent; font-size:xx-small; overflow:hidden; text-indent:-100px;}

.ui-tablescroll {position: relative;}
.ui-tablescroll-wrap {overflow-y:auto; height:173px; width:100%; }
.tbl-base.not-space .ui-tablescroll-clone{width:100%;}
.tbl-base .ui-tablescroll-clone {position:absolute; width:calc(100% - 17px); top:0; left:0; z-index:1;}
.ui-tablescroll[data-row="4"] .ui-tablescroll-wrap {height:204px; }
.tbl-base .ui-select {width:100%;}
.tbl-base .lb-check{min-height:0; vertical-align:middle; margin-top:-2px;}
.tbl-base table > tbody > tr > th {text-align:left;}

/* box */
.box-base {padding:18px 20px 20px; border:1px solid #f2f2f2; background:#f6f6f6;}

/* img */
.img-wrap img {width:100%; height:auto;}

.type-y .ui-scrollbar-bar{background:#c5c5c5; width:8px; right:6px}
.type-x .ui-scrollbar-bar{background:#c5c5c5; height:8px; bottom:6px}
.ui-scrollbar-barwrap.type-y{width:20px; background: rgba(0,0,0,0.05); border-top-width:20px; border-bottom-width:20px;}
.ui-scrollbar-barwrap.type-x{height:20px; background: rgba(0,0,0,0.05); border-left-width:20px; border-right-width:20px;}

.item-content .type-y .ui-scrollbar-bar{background:#c7c7c7; width:5px; right:0}
.item-content .ui-scrollbar-barwrap.type-y{width:5px; background: rgba(0,0,0,0.05); border:0;}
.item-content .ui-tablescroll-wrap{width:calc(100% + 15px);}
.item-content .ui-scrollbar.ready > .ui-scrollbar-item{width:calc(100% - 15px) !important;}
.ui-select .ui-scrollbar.ready > .ui-scrollbar-item {width:100% !important;}

/* frame : left */
.frame-left .item-area {flex:1;}
.frame-left .item-area:last-child {flex:0 0 auto; margin-top:50px;}
.frame-left .item-header {flex:0 0 auto; margin-bottom:50px;}
.drop-header {position:relative; display:block; text-decoration:none; padding:0 10px;}
.drop-header:after {position:absolute; bottom:14px; right:15px; display:block; width:14px; height:14px; border-top:3px solid #222; border-right:3px solid #222; transform:rotate(135deg); box-sizing:border-box; content:"";}
.drop-header[aria-expanded="true"]:after {bottom:6px; transform:rotate(-45deg);}
.drop-header h2 {font-size:30px; font-weight:700; color:#222; line-height:1.2em;}
.drop-header span {display:block;}
.drop-header span:last-child {padding-right:35px;}
.drop-header-pnl {width:100%;}
.drop-header-pnl .ui-drop-box {padding-right:30px;}
.drop-header-pnl button {text-align:left;}
.drop-header-pnl li {margin-top:5px;}
.drop-header-pnl li:first-child {margin-top:0;}

.frame-left .item-title .ui-tab-btn,
.frame-left .item-title h3 {border:0; padding-left:0; padding-right:0;}
.frame-left .item-content {border:0; padding:0; margin-top:0;}
.frame-left .tbl-base {border-bottom:0;}
.frame-left .ui-tablescroll-wrap {height:174px;}

.call-area {margin:50px 0 25px}
.call-status {display:inline-block; vertical-align:middle; font-size:0;}
.call-status a {display:inline-block; width:80px; height:80px; margin:0 7px 0 5px; vertical-align:middle; border-radius:50%; background:url('../img/sp_call_status.png') 0 0/160px auto #EAEAEA; overflow:hidden; font-size:xx-small; color:transparent; text-indent:-999px;}
.call-status a .txt-on {display:none;}
.call-status a.outgoing {background-position:-80px -80px; background-color:#f49c00;}
.call-status a.on i {display:none;}
.call-status a.on .txt-on {display:inline;}
.call-utils {display:inline-block; width:80px; vertical-align:middle;}
.call-utils button {width:100%; margin:1.5px 0;}

.list-col li{display:inline-block; min-width:145px;}

.data-area {display:table; width:100%;border-top:1px solid #666666; border-bottom:1px solid #bbb; font-size:13px; color:#666;}
.data-area > div {display:table-row;}
.data-area > div:first-child dt,
.data-area > div:first-child dd {border-top:0;}
.data-area dt {display:table-cell; width:45%; border-top:1px solid #eee; padding:13px; vertical-align:top;}
.data-area dd {display:table-cell; border-top:1px solid #eee; padding:13px; vertical-align:top; text-align:right;}

.btn-area{width:100%; text-align: right; padding-bottom:10px; margin-top:-20px}

.frame-bar .btn-close{display:inline-block; width:20px; height:20px; background:url(../img/frame_close.png) no-repeat 0 0;}
.frame-bar .btn-mini{display:inline-block; width:20px; height:20px; background:url(../img/frame_mini.png) no-repeat 0 0; margin-right:10px}

.ui-modal .btn-close{width:30px; height:30px; background:url(../img/modal_close.png) no-repeat 0 0; top:14px; right:24px}

.modal-sample1 .ui-modal-wrap{width:800px}
.modal-sample2 .ui-modal-wrap{width:800px}

.field-row + .field-row{margin-top:10px;}
.field-row[data-col="4"] .field-col{width:25%;}
.field-row[data-col="3"] .field-col{width:33.33%;}
.field-row[data-col="1"] .field-col{width:100%}
.field-col + .field-col{margin-left:60px}
.modal-sample1 .field-col + .field-col{margin-left:60px}
.modal-sample2 .field-col + .field-col{margin-left:20px}
.ui-modal .item-content{padding:0 40px 40px; border:0}
.ui-modal-tit span{font-size:28px; font-weight:500;}

.modal-sample1 .field-item-title{width:80px}
.modal-sample1 .field-item-content{width:calc(100% - 80px);}


.modal-sample2 .field-item-title{width:60px}
.modal-sample2 .field-item-content{width:calc(100% - 60px);}
.modal-sample2 .field-area{margin-bottom:10px;}
.ui-modal-footer{border:0; text-align: center; padding:0 0 40px;}
.ui-modal-footer .btn-base{background:#f49c00; color:#fff; border-radius:0; padding:0 35px; font-size:15px; font-weight:500;}

.search-area{position:relative; width:300px; margin:0 auto 30px;}
.inp-search{border:0; border-bottom:2px solid #222; height:50px; width:100%; font-size:20px; padding-right:40px;}
.btn-search{background:url(../img/btn-search.png) no-repeat 0 0; width:40px; height:40px; position:absolute; right:0; bottom:5px;}
.btn-search-s{display:inline-block; vertical-align:middle; background:url(../img/btn-search.png) no-repeat 0 0/30px auto; width:30px; height:30px; cursor:pointer;}

.tbl-footer{position:relative; text-align: center; padding:15px 0 0;}
.tbl-footer .ui-select{position:absolute; top:10px; left:0;}
.paging-area{display:block; margin:0 auto;}
.paging-area button{width:20px; height:20px; display:inline-block; vertical-align: middle; line-height:1; color:#a1a1a1;}
.paging-area .selected{text-decoration: underline;}
.paging-first{background:url(../img/sp_paging.png) no-repeat -20px 0;}
.paging-prev{background:url(../img/sp_paging.png) no-repeat 0 0;}
.paging-next{background:url(../img/sp_paging.png) no-repeat -20px -20px;}
.paging-last{background:url(../img/sp_paging.png) no-repeat 0 -20px;}

.breadcrumbs{width:100%; overflow:hidden; padding:20px 30px 0;}
.breadcrumbs li{float:left; position:relative; font-size: 0;}
.breadcrumbs li + li{margin-left:20px}
.breadcrumbs li::after{content:""; display:inline-block; vertical-align: middle; width:1px; height:10px; background:#e5e5e5; margin-left:15px}
.breadcrumbs .btn-tit{font-size:16px; font-weight:500; color:#b0b0b1; display:inline-block; padding-right:20px; vertical-align: middle;}
.breadcrumbs .btn-del{width:14px; height:14px; display:inline-block; vertical-align: middle; background:url(../img/btn-del.png) no-repeat 0 0;}
.breadcrumbs .selected .btn-tit{font-size:16px;color:#222;}

.frame-center-top{position:relative;}
.frame-center-top .btn-area{position:absolute; width:auto; top:20px; right:30px; margin:0}
.btn-home{display:inline-block; width:40px; height:40px; background:#e5e5e5 url(../img/sp_util.png) no-repeat 0 0; border-radius:50%;}
.btn-logout{display:inline-block; width:40px; height:40px; background:#e5e5e5 url(../img/sp_util.png) no-repeat -40px 0; border-radius:50%; margin-left:4px}

.frame-bar .ui-select-wrap.bottom{top:21px}










.btn-close{float:left; width:20px; height:20px; background:url(../img/frame_close.png) no-repeat 0 0;}
.btn-mini{float:left; width:20px; height:20px; background:url(../img/frame_mini.png) no-repeat 0 0; margin-right:10px}
.btn-check{cursor:pointer;}
.btn-check:before{display:inline-block; border-top:4px solid #a2c20f; border-right:4px solid #a2c20f; width:13px; height:8px; margin:-4px 4px 0 0; transform:rotate(135deg); box-sizing:border-box; vertical-align:middle; content:"";}
.btn-check span{display:inline-block; vertical-align:middle;}
